i.icon {
    font-size: 2em;
}

.container.main {
    margin-top: 5em;
}

#delete {
    display: inline;   
}

.divider-column {
  position: relative;
  padding: 0 !important;
}

.ui.labeled.icon.button>.icon, .ui.labeled.icon.buttons>.button>.icon {
    background: transparent; 
}