<% include partials/header %>

    <div class="ui main text container segment">
        <div class="ui huge center aligned dividing header">Welcome to Gastronome!</div>
        <img class="ui large centered fluid image" src="https://img.huffingtonpost.com/asset/585be1aa1600002400bdf2a6.jpeg?ops=scalefit_970_noupscale">
        <div class="ui hidden divider"></div>
        <p><strong>FOOD!</strong> Who doesn't love food? I do! </p>
        <p>
            Love the idea of sharing my experiences with food using literature. 
            Gastronome is a food blog that documents the fact that food is for the soul. This application will allow users to post about food. 
            A blog that will chronicle authentic recipes, or experiential food or just about anything that one is cooking or enjoying. 
            With a story and images accompanying the blog post, this application will celebrate the awesomeness of food.
        </p>
        
        <p>
            To get started <a href="/user/signUp">Create an Account</a>.
        </p>
        
    </div>
    
<% include partials/footer %>