<% include partials/header %>

    <div class="ui main text container segment">
        <div class="ui huge center aligned dividing header">Welcome to Gastronome!</div>
        <img class="ui medium left floated image" src="https://www.waiter.com/post/wp-content/uploads/2015/12/Kung-Pao-Chicken-2-1024x683.jpg">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at nibh consequat, rhoncus lorem in, gravida leo. Curabitur aliquet sodales auctor. Nam dictum gravida neque in auctor. Pellentesque hendrerit lorem vitae orci dapibus finibus. Proin consectetur tellus id nisi mollis, vitae finibus tortor rutrum. Ut consectetur urna non lectus volutpat consequat. Nullam sit amet efficitur nisi. Etiam id viverra ipsum. Vivamus non dictum neque, vel consectetur magna.</p>
        <p>Nunc vitae accumsan ante, a iaculis quam. Nulla dapibus auctor cursus. Quisque ullamcorper convallis ante id porta. Nulla facilisi. In eleifend ultricies justo, at suscipit ex fermentum id. Ut mauris libero, rutrum sed mi vel, porttitor mattis ligula. Vivamus sed accumsan ante. Proin cursus vulputate felis, ut semper leo molestie id. Praesent luctus, velit nec volutpat tristique, lorem arcu placerat nunc, id ullamcorper lacus dolor at ex.</p>
        <p>Pellentesque in bibendum mi. Cras sodales lacus metus, at vulputate ex ultricies id. Donec sed facilisis tellus, vitae tristique orci. Etiam enim turpis, viverra sed luctus in, pretium sed libero. Donec et ante scelerisque, lobortis velit id, egestas metus. Sed bibendum auctor tincidunt. Cras et erat neque. Donec ut porta diam, vitae suscipit sapien. Fusce vestibulum leo non lectus commodo placerat.</p>
        <img class="ui medium right floated image" src="https://images-gmi-pmc.edge-generalmills.com/b9272720-c6bf-4288-92f7-43542067af7c.jpg">
        <p>Morbi nibh lorem, ultricies ut nulla ac, scelerisque sollicitudin lectus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras molestie ullamcorper libero, pellentesque imperdiet quam bibendum nec. Nulla ut magna vel magna vestibulum porta a nec metus. Proin condimentum varius feugiat. Aenean feugiat tellus sed quam iaculis, eu sollicitudin urna maximus. Sed pellentesque tempor ipsum. Suspendisse convallis convallis pulvinar. Integer non enim ut purus interdum aliquet vel quis lacus.</p>
        
    </div>
    
<% include partials/footer %>